.suggestions{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
}
.my-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    color: #fff;
}
.my-profile a{
    text-decoration: none;
    color: #fff;
}
.switch-acc a{
    color: rgb(0, 76, 241);
}

.profile-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.suggested-for-me{
    color: #9d9d9d;
    font-weight: bold;
    font-size: 14px;
    column-gap: 30px;
}
.suggested-for-me a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
